<div class="blog item box">
  <h1 class="boxhead"><%= @blog.title %></h1>
  <div class="boxbody">
    <div class="metadata">
      <span class="date"><%= @blog.created_at.strftime("%d. %B %Y") %></span>
    </div>
    <%= @blog.markdown.html_safe %>
  </div>
</div>
<hr class="stream" />



